  <ul class="list-unstyled">
    <p><strong>お気に入り</strong></p>
    <% @Favorites.each do |favorite| %>
      <li class="media">
        <div class="media-body">
          <div>
            <%= favorite.micropost.content %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>